.mid  {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

.mid2 {
    margin-left: 35%;
    margin-right: auto;
    margin-right: 35%;

}

.header {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}